<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3><center>Suraj's Homepage<center></h3>

<hr>

<center><IMG SRC="http://www.servtech.com/public/newt/elway.gif"></center>

<hr>



<b>I am a python aspirant at Mytectra and expecting to get succeed in it!
<br>

<hr>

<H2>Suraj's Links</H2>
<A HREF="https://www.facebook.com/suraj.busnoor">Click here to Check my Facebook Profile</A>
<br>
<A HREF="https://www.linkedin.com/in/suraj-busnoor-2ba33b55/">Click here for Linked In Page</A>
<br>
<A HREF="https://www.google.co.in/search?q=suraj+busnoor&rlz=1C1GCEB_enIN792IN792&oq=suraj+busnoor&aqs=chrome..69i57j69i61j69i60l2j69i65.2452j1j4&sourceid=chrome&ie=UTF-8">Check my google stories</A>
<br>

<hr>

<H2>My latest picture</H2>
<img src="C:\Users\busnoor\Desktop\Suraj_pic.JPG" alt="Suraj"/>
<hr>
<br>

</html>

</body>
</html>